<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Clipbird"
    tools:targetApi="31">

    <service android:name=".ui.gui.service.ClipbirdService" />

    <activity
      android:name="com.srilakshmikanthanp.clipbirdroid.ui.gui.MainActivity"
      android:exported="true"
      android:launchMode="singleTop"
      android:theme="@style/Theme.Clipbird">
      <intent-filter>
        <category android:name="android.intent.category.LAUNCHER" />
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.gui.handlers.ShareHandler"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:excludeFromRecents="true"
      android:noHistory="true"
      android:parentActivityName=".ui.gui.MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.gui.handlers.SendHandler"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:excludeFromRecents="true"
      android:noHistory="true"
      android:parentActivityName=".ui.gui.MainActivity"/>

    <activity
      android:name=".ui.gui.handlers.AcceptHandler"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:parentActivityName=".ui.gui.MainActivity"/>

    <activity
      android:name=".ui.gui.handlers.RejectHandler"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:parentActivityName=".ui.gui.MainActivity"/>

    <activity
      android:name="com.journeyapps.barcodescanner.CaptureActivity"
      android:screenOrientation="fullSensor"
      tools:replace="screenOrientation" />

    <provider
      android:name=".common.provider.ClipbirdFileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>
  </application>
</manifest>
