<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>

  <application
    android:allowBackup="true"
    android:networkSecurityConfig="@xml/network_security_config"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@mipmap/ic_launcher"
    android:name="com.srilakshmikanthanp.clipbirdroid.Clipbird"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Clipbird"
    tools:targetApi="34">

    <meta-data
      android:name="com.google.mlkit.vision.DEPENDENCIES"
      android:value="barcode_ui"/>

    <service
      android:foregroundServiceType="connectedDevice"
      android:exported="false"
      android:name=".service.ClipbirdService">
    </service>

    <activity
      android:name=".ui.gui.MainActivity"
      android:windowSoftInputMode="adjustResize"
      android:screenOrientation="sensorPortrait"
      android:theme="@style/Theme.Splash"
      android:exported="true"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.gui.handlers.ShareHandler"
      android:screenOrientation="sensorPortrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:excludeFromRecents="true"
      android:noHistory="true"
      android:parentActivityName=".ui.gui.MainActivity"
      android:label="Send to Clipbird"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
        <data android:mimeType="text/*" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.PROCESS_TEXT" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.gui.handlers.SendHandler"
      android:screenOrientation="sensorPortrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:excludeFromRecents="true"
      android:noHistory="true"
      android:parentActivityName=".ui.gui.MainActivity"/>

    <activity
      android:name=".ui.gui.handlers.AcceptHandler"
      android:screenOrientation="sensorPortrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:parentActivityName=".ui.gui.MainActivity"/>

    <activity
      android:name=".ui.gui.handlers.RejectHandler"
      android:screenOrientation="sensorPortrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:parentActivityName=".ui.gui.MainActivity"/>

    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
      android:theme="@style/Theme.Clipbird.OSS" />

    <activity
      android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
      android:theme="@style/Theme.Clipbird.OSS" />

    <provider
      android:name=".common.provider.ClipbirdFileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>

    <receiver
      android:name=".broadcast.BootHandler"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <receiver
      android:name=".broadcast.WifiApStateChangeHandler"
      android:exported="true">
      <intent-filter>
        <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
